<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d7eab12656.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head>

<body>
    <div class="bg-dark text-white">
        <div class="row container-fluid text-center">
            <div class="col redes-sociales">
                <a href="www.facebook.com"></a><i class="fab fa-facebook-square"></i>
                <a href="www.twitter.com"></a><i class="fab fa-twitter-square"></i>
                <a href="www.instagram.com"></a><i class="fab fa-instagram-square"></i>
                <a href=""></a><i class="fab fa-telegram-plane"></i>
                <a href=""></a><i class="fab fa-whatsapp-square"></i>
            </div>
        </div>
        <div class="row container-fluid text-center">
            <div class="col">
                <p><i class="far fa-copyright"></i>&nbsp Vector Design News</p>
            </div>
        </div>
</body>

</html>