<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles_form.css">
    <title>Login</title>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div class="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <div class="formHeader">
                    <h1>Vector Design News</h1>
                </div>
                <img src="/static/imagenes/logo/logo_design.JPG" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form method='POST' action="{{ url_for('login') }}">
                <div class="msg">{{ msg }}</div>
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="Usuario">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
                <input type="submit" class="fadeIn fourth" value="Inicio">
            </form>

            <!-- Remind Passowrd -->
            <div class="formFooter">
                <a class="underlineHover" href="{{url_for('register')}}">Aun no esta registrado?</a>
            </div>

        </div>
    </div>



</body>

</html>